:root {
    --white : #F2F5F9;
}

body {
    background: linear-gradient(247deg, #0F125F 20.06%, #F52D59 100%);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    place-items: center;
}

.ball, .square {
    cursor: pointer;
}