.pieces {
    background: transparent;
    padding: 0;
}

.pieces img {
    width: 75px;
    height: 75px;
}

.pieces:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.pieces:not(:disabled):hover {
    transform: scale(1.20);
    transition: 0.3s ease-in;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}