@media (max-width:750px) {
    .content {
        height: 60vh;
        width: 90%;
    }

    .ball {
        width: 60px;
        height: 60px;
    }

    .square section {
        height: 5px;
        width: 80px;
    }
}