@media (max-width:576px) {
    #board {
        width: 100%;
        aspect-ratio: 1 / 1;
    }
}

@media (max-width:992px) {
    .content {
        display: grid;
        place-items: center;
        gap: 50px;
        grid-template-areas: 'board board'
        'left right';
    }

    #left {
        grid-area: left;
        width: 100%;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 14px;
    }

    #right {
        grid-area: right;
        width: 100%;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 14px;
    }
    
    #board {
        grid-area: board;
    }

    .pieces img {
        width: 50px;
        height: 50px;
    }
}