.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
}

#left {
    height: 500px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    background: rgba(242, 245, 249, 0.20);
    backdrop-filter: blur(2px);
}
#right {
    height: 500px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    background: rgba(242, 245, 249, 0.20);
    backdrop-filter: blur(2px);
}

#board {
    width: 600px;
    aspect-ratio: 1 / 1;
    background: rgba(242, 245, 249, 0.20);
    border-radius: 14px;
    backdrop-filter: blur(2px);
    padding: 18px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'one two tree'
    'four five six'
    'seven eight nine';
}

.one{
    grid-area: one;
    border-radius: 18px 0 0 0;
    border-right: 1.5px solid var(--white);
    border-bottom: 1.5px solid var(--white);
}
.two{
    grid-area: two;
    border-left: 1.5px solid var(--white);
    border-bottom: 1.5px solid var(--white);
    border-right: 1.5px solid var(--white);
}
.tree{
    grid-area: tree;
    border-radius: 0 18px 0 0;
    border-left: 1.5px solid var(--white);
    border-bottom: 1.5px solid var(--white);
}
.four{
    grid-area: four;
    border-top: 1.5px solid var(--white);
    border-right: 1.5px solid var(--white);
    border-bottom: 1.5px solid var(--white);
}
.five{
    grid-area: five;
    border: 1.5px solid var(--white);
}
.six{
    grid-area: six;
    border-top: 1.5px solid var(--white);
    border-left: 1.5px solid var(--white);
    border-bottom: 1.5px solid var(--white);
}
.seven{
    grid-area: seven;
    border-radius: 0 0 0 18px;
    border-top: 1.5px solid var(--white);
    border-right: 1.5px solid var(--white);
}
.eight{
    grid-area: eight;
    border-left: 1.5px solid var(--white);
    border-top: 1.5px solid var(--white);
    border-right: 1.5px solid var(--white);
}
.nine{
    grid-area: nine;
    border-radius: 0 0 18px 0;
    border-left: 1.5px solid var(--white);
    border-top: 1.5px solid var(--white);
}

.dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover {
    transition: all 0.3s ease-in-out;
    background: rgba(242, 245, 249, 0.30);
}